<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>

    <link rel="stylesheet" type="text/css" href="../../css/index.css">
	<link rel="stylesheet" type="text/css" href="../../css/login.css">
	
	<script src="../../js/jquery-3.3.1.js"></script>
    <script src="../../js/jquery.sha1.js"></script>
    <script src="../../js/jquerysession.js"></script>
	
	<script src="../../js/particles.min.js"></script>
	<script src="../../js/bg.js"></script>
	
    <script src="../../js/login.js"></script>
</head>
<body>
	<div id="bg"></div>
    <div id="head">
        <a href="/index">
            <div id="icon">
                SSH DEMO
            </div>
        </a>
    </div>
    <div id="main" class="login">
        <div class="title">登录</div>
        <form id="login" class="form" method="post" th:object="${user}">
            <!--/*@thymesVar id="user" type="entity.dto.UserDto"*/-->
            <div>&nbsp;&nbsp;用户名:
                <input id="user_id" class="input" type="text" placeholder="请输入用户id" name="id" th:field="*{id}">
            </div>
            <!--/*@thymesVar id="user" type="entity.dto.UserDto"*/-->
            <div>&nbsp;&nbsp;&nbsp;密码:
                <input id="user_pwd" class="input" type="password" placeholder="请输入密码" name="password" th:field="*{password}">
            </div>
            <p id="error">&nbsp;</p>
            <input class="submit" type="button" value="登陆">
        </form>
    </div>
</body>
</html>