<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SSH-DEMO</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body>
    <div id="head">
        <div id="icon">
            SSH DEMO
        </div>
        <div id="menu">

        </div>
        <div id="menu_user">
            <!--/*@thymesVar id="user" type="entity.dto.UserDto"*/-->
            <div id="login" th:if="${user == null}">
                <a href="/login">登录</a>或<a href="/register">注册</a>
            </div>
            <div style="display:none" id="user_home" th:if="${user != null}">
                <!--/*@thymesVar id="user" type="entity.dto.UserDto"*/-->
                欢迎你，<span th:value="${user.name}"></span>
            </div>
        </div>
    </div>
	<div id="body">
		
	</div>
</body>
</html>